<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Generate Music</title>
        <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.21.0/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.1.1"></script>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <div class="login" >
        <div id="head" style="font-family: Allerta Stencil, Sans-serif;">
         <h1 style="font-size:6rem;">Generate Your Own Music</h1>
        </div>

    <body>
        
        <form class="p-3 text-center" action="/" method=post enctype=multipart/form-data>
            <br>
            <br>
            <br>
            
            <input class="btn btn-primary mt-3" type=submit value=Generate>
            <br>
            <br>
            <br>
        </form>

        <!-- <audio controls>
            <source src="1234.mp3" >
        </audio> -->
        <!-- {% if output %} -->
        <!-- <midi-player
            src= "C:\Users\ishik\Documents\projects github\output\test_output.mid">
        </midi-player> -->
        <!-- <midi-visualizer type="piano-roll" id="myVisualizer"></midi-visualizer> -->
        <!-- {% endif %} -->
        
    </body>
</html>